.arrow-icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  overflow: visible;
}



@keyframes stretch {
  0% { transform: scaleY(1); }
  100% {
    transform: scaleY(var(--arrow-stretch, 2));
  }
}

@keyframes moveTip {
  0% { transform: translateY(0); }
  100% {
    transform: translateY(var(--arrow-distance, 60px));
  }
}

.shaft-animated {
  transform-origin: 50% 59%;
  animation: stretch var(--arrow-duration, 1.5s) ease-in-out infinite alternate;
}

.tip-animated {
  animation: moveTip var(--arrow-duration, 1.5s) ease-in-out infinite alternate;
}
